@use 'sass:list' as *;
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

// Css reset
* {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
}

body {
		background-color: black;
		height: 100vh;
		display: grid;
		grid-template: repeat(15, 1fr) / repeat(15, 1fr);
		overflow: hidden;
}

footer {
	width: 100%;

	color: white;
	text-align: center;
	position: fixed;
	bottom: 10px;
	left: 0;
	right: 0;
	font-family: 'Fredoka One';
}

// Utility
.cell {
	width: 100%;
	height: 100%;
	// border: 1px solid lightgrey;
	z-index: 2;
}

@for $i from 0 to 15 {
	.cell:nth-child(15n + #{$i + 1}):hover ~ #greetings {
		--positionX: #{$i};
	}
	.cell:nth-child(n + #{15 * $i + 1}):nth-child(-n + #{15 * ($i + 1)}):hover ~ #greetings {
		--positionY: #{$i};
	}
}

#greetings {
	color: white;
	--positionX: 7;
	--positionY: 7;

	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.happy-birthday {
	font-family: 'Fredoka One', cursive;
	position: absolute;
	top: 50%; left: 50%;
	animation: color 3s infinite linear;
	text-shadow: 0 0 10px #000a;
	transition: all 0.5s;
	
	@for $i from 0 to 24 {
		&:nth-child(#{$i + 1}) {
			font-size: #{40 + $i * 8}px;
			animation-delay: #{$i * -0.3}s;
			opacity: #{0.2 + $i * 0.05};
			transform:
				translateX(calc(-50% - (var(--positionX) - 7) * #{(7 - $i) * 10px}))
				translateY(calc(-50% - (var(--positionY) - 7) * #{(7 - $i) * 10px}))
				rotateX(calc(0deg - (var(--positionY) - 7) * 5deg))
				rotateY(calc((var(--positionX) - 7) * 5deg));
		}
	}
		
	&.box-18 {
		$lightblue: #08f;
		$red: #f03;
		--step-one-color: #{$lightblue};
		--step-two-color: #{$red};
		
		@function con-grad($c1, $c2, $from-angle: var(--border-angle)) {
			@return conic-gradient(
				from $from-angle,
				transparent 25%,
				#{$c1}, 
				#{$c2} 99%,
				transparent
			);
		}

		width: 400px;
		aspect-ratio: 1;
		color: white;
		display: grid;
		place-content: center;
		text-shadow: 0 1px 0 #000;
		--border-angle: 0turn; // For animation.
		border: solid 5px transparent;
		border-radius: 2em;

		background: 
			// padding-box clip this background in to the overall element except the border.
			// conic-gradient(from var(--border-angle), #213, rgba(17, 17, 34, 0.386) 5%,
			// 	rgba(17, 17, 34, 0.233) 60%,
			// 	rgba(34, 17, 51, 0.189) 95%
			// ) padding-box,
			// border-box extends this background to the border space
			#{con-grad(var(--step-one-color), var(--step-two-color))} border-box;
			// Duplicate main background to fill in behind the gradient border. You can remove this if you want the border to extend "outside" the box background.
			// var(--main-bg) border-box;

		background-position: center center;
		animation: bg-spin var(--animation-time) linear infinite;
		$tran-time: 4s;
		transition: --step-one-color $tran-time, --step-two-color $tran-time, --animation-time $tran-time;


		&::before {
			content: '';
			width: 400px;
			aspect-ratio: 1;
			position: absolute;
			background: #{con-grad($lightblue, $red)};
			border-radius: 50%;
			mask: radial-gradient(transparent 66%, black 70%);
			left: -5px;
			top: -5px;
			opacity: 0;
			transition: opacity 0.2s;
		}

		&.no-gradient-border {
			--step-one-color: #0000;
			--step-two-color: #0000;
		}

		&.onbefore-gradient-border::before {
			content: '';
			opacity: 1;
		}
		
		@keyframes bg-spin {
			to {
				--border-angle: 1turn;
			}
		}

		&:hover {
			animation-play-state: paused;
		}
	}

	@keyframes color {
		@for $c from 0 through 10 {
			#{$c * 10%} { color: hsl(36 * $c, 35%, 35%); }
		}
	}
}

$cust-props: (
	'border-angle': ('angle', 'true', '0turn'),
	'step-one-color': ('color', 'false', '#000'),
	'step-two-color': ('color', 'false', '#000'),
	'animation-time': ('time', 'true', '10s')
);

@each $property, $details in $cust-props {
	@property --#{$property} {
		syntax: "<#{nth($details, 1)}>";
		inherits: #{nth($details, 2)};
		initial-value: #{nth($details, 3)};
	}
}

@media (max-width: 500px) {
	footer {
		font-size: .8rem;
	}
	
	.happy-birthday {
		@for $i from 0 to 24 {
			&:nth-child(#{$i + 1}) {
				font-size: #{20 + $i * 2}px;
			}
		}

		&.box-18 {
			width: 150px;
		}
	}
}