@use 'sass:list' as *;
@use 'sass:string' as str;
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

// Css reset
* {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
}

body {
		background-color: black;
		height: 100vh;
		display: grid;
		grid-template: repeat(15, 1fr) / repeat(15, 1fr);
		overflow: hidden;
}

footer {
	width: 100%;

	color: white;
	text-align: center;
	position: fixed;
	bottom: 10px;
	left: 0;
	right: 0;
	font-family: 'Fredoka One';
}

// Utility
/* From Uiverse.io by gharsh11032000 */ 
button#celebrate {
	padding: 15px 20px;
	font-size: 16px;
	font-weight: 600;
	border: 2px solid #414141;
	color: white;
	background-color: transparent;
	cursor: pointer;
	border-radius: 10px;
	text-transform: uppercase;
	transition: all 0.4s cubic-bezier(0.23, 1, 0.320, 1);

	position: absolute;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	z-index: 3;

	&:hover {
		border-color: #0974f1;
		box-shadow: 0 0 20px rgba(9, 117, 241, 0.8);
	}

	&:active {
		box-shadow: 0 0 10px rgba(9, 117, 241, 0.4);
	}
}

.cell {
	width: 100%;
	height: 100%;
	// border: 1px solid lightgrey;
	z-index: 2;
}

@for $i from 0 to 15 {
	.cell:nth-child(15n + #{$i + 1}):hover ~ #greetings {
		--positionX: #{$i};
	}
	.cell:nth-child(n + #{15 * $i + 1}):nth-child(-n + #{15 * ($i + 1)}):hover ~ #greetings {
		--positionY: #{$i};
	}
}

#greetings {
	color: white;
	--positionX: 7;
	--positionY: 7;

	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.happy-birthday {
	font-family: 'Fredoka One', cursive;
	position: absolute;
	top: 50%; left: 50%;
	animation: color 3s infinite linear;
	text-shadow: 0 0 10px #000a;
	transition: all 0.5s;
	
	@for $i from 0 to 24 {
		&:nth-child(#{$i + 1}) {
			font-size: #{40 + $i * 8}px;
			animation-delay: #{$i * -0.3}s;
			opacity: #{0.2 + $i * 0.05};
			transform:
				translateX(calc(-50% - (var(--positionX) - 7) * #{(7 - $i) * 10px}))
				translateY(calc(-50% - (var(--positionY) - 7) * #{(7 - $i) * 10px}))
				rotateX(calc(0deg - (var(--positionY) - 7) * 5deg))
				rotateY(calc((var(--positionX) - 7) * 5deg));
		}
	}
		
	&.had-age-box {
		$lightblue: #08f;
		$red: #f03;
		--step-one-color: #{$lightblue};
		--step-two-color: #{$red};
		
		@function con-grad($c1, $c2, $from-angle: var(--border-angle)) {
			@return conic-gradient(
				from $from-angle,
				transparent 25%,
				#{$c1}, 
				#{$c2} 99%,
				transparent
			);
		}

		width: 400px;
		aspect-ratio: 1;
		color: white;
		display: grid;
		place-content: center;
		text-shadow: 0 1px 0 #000;
		--border-angle: 0turn; // For animation.
		border: solid 5px transparent;
		border-radius: 2em;

		background: 
			// padding-box clip this background in to the overall element except the border.
			// conic-gradient(from var(--border-angle), #213, rgba(17, 17, 34, 0.386) 5%,
			// 	rgba(17, 17, 34, 0.233) 60%,
			// 	rgba(34, 17, 51, 0.189) 95%
			// ) padding-box,
			// border-box extends this background to the border space
			#{con-grad(var(--step-one-color), var(--step-two-color))} border-box;
			// Duplicate main background to fill in behind the gradient border. You can remove this if you want the border to extend "outside" the box background.
			// var(--main-bg) border-box;

		background-position: center center;
		animation: bg-spin var(--animation-time) linear infinite;
		$tran-time: 4s;
		transition: --step-one-color $tran-time, --step-two-color $tran-time, --animation-time $tran-time;


		&::before {
			content: '';
			width: 400px;
			aspect-ratio: 1;
			position: absolute;
			background: #{con-grad($lightblue, $red)};
			border-radius: 50%;
			mask: radial-gradient(transparent 66%, black 70%);
			left: -5px;
			top: -5px;
			opacity: 0;
			transition: opacity 0.2s;
		}

		&.no-gradient-border {
			--step-one-color: #0000;
			--step-two-color: #0000;
		}

		&.onbefore-gradient-border::before {
			content: '';
			opacity: 1;
		}
		
		@keyframes bg-spin {
			to {
				--border-angle: 1turn;
			}
		}

		&:hover {
			animation-play-state: paused;
		}
	}

	@keyframes color {
		@for $c from 0 through 10 {
			#{$c * 10%} { color: hsl(36 * $c, 35%, 35%); }
		}
	}
}

$cust-props: (
	'border-angle': ('angle', 'true', '0turn'),
	'step-one-color': ('color', 'false', '#000'),
	'step-two-color': ('color', 'false', '#000'),
	'animation-time': ('time', 'true', '10s')
);

@each $property, $details in $cust-props {
	@property --#{$property} {
		syntax: "<#{nth($details, 1)}>";
		inherits: #{nth($details, 2)};
		initial-value: #{nth($details, 3)};
	}
}

.firework,
.firework::after,
.firework::before {
	// border: solid 1px white;
	--particle-radius: 0.2vh;
	--explosion-size: 250px;
	--explosion-duration: 4s;
	--x: -50%;
	--y: -50%;
	--initialY: 100vh;
	$bg-size: calc(var(--particle-radius) * 2);
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	/* animation */
	animation-duration: var(--explosion-duration);
	animation-delay: var(--explosion-delay);
	animation-iteration-count: infinite;
	animation-fill-mode: both;
	/* --- */
	transform: translate(-50%, -50%);
	width: var(--particle-radius);
	aspect-ratio: 1;
	
	@function get-radial-grads($positions) {
		$bg-images: '';
		@each $pos in $positions {
			$last-loop: length($positions) == index($positions, $pos);
			$bg-images: str.insert($bg-images, 'radial-gradient(circle closest-side, var(--color) var(--particle-radius), #000 1px) #{$pos} no-repeat#{if($last-loop, '', ', ')}', -1);
		}
		
		@return unquote($bg-images);
	}
	background: get-radial-grads((
		'10% 10%',
		'10% 20%',
		'20% 10%',
		'20% 12.5%',
		'80% 10%',
		'80% 20%',
		'90% 12.5%',
		'90% 10.5%',
		'90% 80%',
		'90% 82.5%',
		'80% 90%',
		'80% 80%',
		'20% 80%',
		'10% 82.5%',
		'10% 90%',
		'20% 90%',
		));
	background-size: $bg-size $bg-size;
}

.firework {
	opacity: 0;
	--explosion-delay: 0s;

	&.animate {
		animation-name: explosion, exp-dissolve;

		&::after,
		&::before {
			animation-name: explosion;
		}
	}

}

.firework::after {
	--x: -50%;
	--y: -50%;
	--initialY: -50%;
	transform: translate(-50%, -50%) rotate(-30deg);
}

.firework::before {
	--x: -50%;
	--y: -50%;
	--initialY: -50%;
	transform: translate(-50%, -50%) rotate(30deg);
}

@keyframes explosion {
	from {
		transform: translate(var(--x), var(--initialY));
	}
	60% {
		width: var(--particle-radius);
	}
	to {
		width: var(--explosion-size);
	}
}

@keyframes exp-dissolve {
	3% {
		opacity: 1;
	}
	60% {
		opacity: 1;
	}
}

/* Media queries */
@media (max-width: 500px) {
	footer {
		font-size: .8rem;
	}
	
	.happy-birthday {
		@for $i from 0 to 24 {
			&:nth-child(#{$i + 1}) {
				font-size: #{20 + $i * 2}px;
			}
		}

		&.had-age-box {
			width: 150px;
		}
	}
}